<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs')  %> 
    
</head>
<body>
    <%- include('./includes/header.ejs')  %>
    <link rel="stylesheet" href="/css/404-mobile.css">
    <link rel="stylesheet" href="/css/404-desktop.css">
    <main>
        <h1>Oops!</h1>
        <h3>Parece que hemos chocado trayendo lo que buscabas.</h3>
        <figure>
            <img src="/assets/404.jpg" alt="chocamos">
        </figure>
    </main> 
    <%- include('./includes/footer.ejs')  %> 
</body>
</html>