<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harbortrip</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./css/header-mobile.css" />
    <link rel="stylesheet" href="./css/header-tablet.css" />
    <link rel="stylesheet" href="./css/header-desktop.css" />
    <link rel="stylesheet" href="./css/carrito-mobile.css" />
    <link rel="stylesheet" href="./css/carrito-tablet.css" />
    <link rel="stylesheet" href="./css/carrito-desktop.css" />
    <link rel="stylesheet" href="./css/footer-mobile.css" />
    <link rel="stylesheet" href="./css/footer-tablet.css" />
    <link rel="stylesheet" href="./css/footer-desktop.css" />
</head>

<body>
    <section class="RRSS">
        <section class="RRSSCointainer">
            <div class="RRSSItems">
                <a href="https://www.youtube.com/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
            <div class="RRSSItems">
                <a href="https://twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
            <div class="RRSSItems">
                <a href="https://ar.linkedin.com/">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            <div class="RRSSItems">
                <a href="https://www.instagram.com/harbortrip/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <div class="RRSSItems">
                <a href="https://www.facebook.com/HarborTrip">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </section>
    </section>
    <header class="main-header">
        <section class="top-header">
            <nav class="nav-logo">
                <a href="/">
                    <figure>
                        <img src="./assets/PERFIL-01.jpeg" alt="" class="logoHB">
                    </figure>
                </a>
            </nav>
            <nav class="site">
                <a href="" class="buttonNavSite">
                    <p>Información Útil</p>
                </a>
                <a href="" class="buttonNavSite">
                    <p>Destinos</p>
                </a>
                <a href="" class="buttonNavSite">
                    <p>Destacados</p>
                </a>
                <a href="" class="buttonNavSite">
                    <p>Experiencias</p>
                </a>
                <a href="" class="buttonNavSite">
                    <p>Quienes somos</p>
                </a>
                <a href="/login.html" class="iconMobile" value="Login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Ingresá</a>
                <a href="/register.html" class="iconMobile" value="Register"><i class="fa-solid fa-id-card" ></i> Registrate</a>
            </nav>
        </section>
        <section class="mobileHeader">
            <nav id="burgerMenu">
                <a href="">
                    <i class="fas fa-bars burger-menu burgerIcon"></i>
                </a>
            </nav>
        </section>
    </header>

    <main class="main-carrito">
        <section class="caja1">
            <div class="usuario">
                <p>Laura Solis</p>
                <p>3131628334</p>
                </br>
                <p>Cra 7 #12-144</p>
                <p>343587</p>
                <p>lau@gmail.com</p>
            </div>
            <div class="articleBox">
                <article class="articleMainContainer">
                    <figure class="articleFigure">

                        <img class="articleImg" src="./assets/great-wall-china-600x400.jpeg" alt="" />
                    </figure>
                    <div class="articleDetails">
                        <li><i class="fa-solid fa-bed"></i> 12 noches de alojamiento en hoteleria 4 estrellas</li>
                        <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                        <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: Beijin, Xian, Guilin, Shanghai </li>
                        <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                        <h3 class="articleTitle"> Maravillas de China - Etnias (13 dias/ 12 noches)</h3>
                        <div class="precioArticuloMain">
                            <p>Desde $3339 USD*</p>
                        </div>
                        <p>*Precio por persona en base doble</p>


                    </div>
                </article>
                <article class="articleMainContainer">
                    <figure class="articleFigure">

                        <img class="articleImg" src="./assets/petra-jordania-600x400.jpeg" alt="">
                    </figure>
                    <div class="articleDetails">
                        <li><i class="fa-solid fa-bed"></i> 8 noches de alojamiento en hoteleria 4 estrellas</li>
                        <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                        <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: Amman, Petra, Wadi Rum, Mar muerto</li>
                        <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                        <h3 class="articleTitle">Petra - Jordania (09 dias/ 08 noches)</h3>
                        <div class="precioArticuloMain">
                            <p>Desde $1987 USD*</p>
                        </div>
                        <p>*Precio por persona en base doble</p>
                        <div class="precioArticuloMain">
                            <p>$4000 USD*</p>
                        </div>
                        <p>*Precio por persona en base doble</p>
                    </div>
                </article>
            </div>

            <textarea class="textArea" name="comentario" rows="5" id="comentario" placeholder="Comentarios, dudas o sugerencias"></textArea>

            <a class="pagar" href="/">Pagar</a>
        </section>

    </main>
    <footer class="footer">
        <section class="footerMain">
            <figure>
                <img src="./assets/PERFIL-04.jpeg" alt="perfil" class="footerPerfil" />
            </figure>
            <h2>Dirección</h2>
            <address>
          <a>
            <i class="fa-solid fa-location-dot foot-icon"></i> Calle XX numero
            XXXX La Plata</a
          >
        </address>
        </section>
        <section class="footerNav">
            <section class="navItems">
                <h2 class="navTitle">Web</h2>
                <div class="navList">
                    <a class="footerA" href=""><i class="fa-solid fa-house foot-icon"></i>Home</a
            >
            <a class="footerA" href=""
              ><i class="fa-regular fa-compass foot-icon"></i>Exoticos</a
            >
            <a class="footerA" href="">
              <i class="fa-solid fa-tags foot-icon"></i>Promociones</a
            >
            <a class="footerA" href="">
              <i class="fa-solid fa-fire foot-icon"></i>Mas Vendidos</a
            >
          </div>
        </section>
        <section class="navItems">
          <h2 class="navTitle">Links Utiles</h2>
          <div class="navList">
            <a class="footerA" href=""
              ><i class="fa-solid fa-list foot-icon"></i> Requisitos de Viaje</a
            >
            <a class="footerA" href=""
              ><i class="fa-solid fa-people-roof foot-icon"></i>
              Administracion</a
            >
            <a class="footerA" href=""
              ><i class="fa-regular fa-address-book foot-icon"></i> Contacto</a
            >
            <a class="footerA" href=""
              ><i class="fa-solid fa-handshake-simple foot-icon"></i>Quienes
              Somos</a
            >
          </div>
        </section>

        <section class="navItems">
          <h2 class="navTitle">Vias de contacto</h2>
          <div class="navList">
            <a class="footerA" href=""
              ><i class="fa-solid fa-phone foot-icon"></i>Telefono de
              contacto</a
            >
            <a class="footerA" href=""
              ><i class="fa-solid fa-clock foot-icon"></i> Lunes a Viernes de
              10:00 a 19:00. Sabados hasta medio dia</a
            >
            <a class="footerA" href=""
              ><i class="fa-solid fa-envelope foot-icon"></i> email ventas:
              reservas@harbortrip.com
            </a>
                </div>
            </section>
        </section>
        <div class="legal">
            <p>&copy; 2022 Harbor Trip. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>