<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harbortrip</title>
</head>

<body>
<header>
<a href="/">
    <img src="./assets/PERFIL-01-jpeg" alt="" class="">
</a>

</header>
</body>

<footer>
    <section>
        <h4>Links</h4 class="link-footer">
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </section>
    <section>
        <h4>Links</h4 class="link-footer">
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </section>
    <section>
        <h4>Links</h4 class="link-footer">
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </section>
</footer>

</html>