<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harbortrip</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./css/header-mobile.css">
    <link rel="stylesheet" href="./css/header-tablet.css">
    <link rel="stylesheet" href="./css/header-desktop.css">
    <link rel="stylesheet" href="./css/main-mobile.css">
    <link rel="stylesheet" href="./css/main-tablet.css">
    <link rel="stylesheet" href="./css/main-desktop.css">
    <link rel="stylesheet" href="./css/footer-mobile.css">
    <link rel="stylesheet" href="./css/footer-tablet.css">
    <link rel="stylesheet" href="./css/footer-desktop.css">
</head>

<body>
    <header>
        <a href="/">
            <img src="" alt="" class="">
        </a>

    </header>


    <footer>
        <section class="links-footer-section">
            <nav class="nav-link-footer">
                <h4 class="h4-footer">Harbor Trip - Agencia de viajes</h4>
                <a href="">Direccion: calle XX numero XXXX La Plata</a>
                <a href="">Telefono de contacto</a>
                <a href="">email ventas: reservas@harbortrip.com </a>
                <a href="">Lunes a Viernes de 10:00 a 19:00. Sabados hasta medio dia</a>
            </nav>
        </section>
        <section class="links-footer-section">
            <nav class="nav-link-footer">
                <h4 class="h4-footer">Harbor Trip</h4>
                <a href="">Quienes Somos</a>
                <a href="">Administracion</a>
                <a href="">Requisitos de Viaje</a>
                <a href="">Contacto</a>
            </nav>
        </section>
        <section class="links-footer-section">
            <nav class="nav-link-footer">
                <h4 class="h4-footer">Links Utiles</h4 class="h4-footer">
                <a href="">Home</a>
                <a href="">Mas Vendidos</a>
                <a href="">Promociones</a>
                <a href="">Exoticos</a>
            </nav>
        </section>
    </footer>
</body>

</html>