<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harbortrip</title>

    <link> @import
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./css/header-mobile.css">
    <link rel="stylesheet" href="./css/header-tablet.css">
    <link rel="stylesheet" href="./css/header-desktop.css">
    <link rel="stylesheet" href="./css/main-mobile.css">
    <link rel="stylesheet" href="./css/main-tablet.css">
    <link rel="stylesheet" href="./css/main-desktop.css">
    <link rel="stylesheet" href="./css/footer-mobile.css">
    <link rel="stylesheet" href="./css/footer-tablet.css">
    <link rel="stylesheet" href="./css/footer-desktop.css">
</head>

<body>
    <header class="main-header">
        <section class="RRSS">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href="https://www.facebook.com/HarborTrip"></a>
        </section>
        <section class="top-header">
            <a href="/">
                <img src="./assets/PERFIL-01.jpeg" alt="" class="">
            </a>
            <form action="" method="" class="search-bar">
                <fieldset class="formItems">
                    <input type="text" name="buscador" placeholder="destino">
                    <button type="submit">
         <i class="fa-solid fa-magnifying-glass"></i>       
        </button>
                </fieldset>
            </form>
            <a href="/" class="contacto">
                <i class="fa fa-envelope"></i>
            </a>
        </section>
        <section class="main-navbar">
            <nav id="burgerMenu">
                <a href="/">
                    <i class="fas fa-bars burguer-menu burgerIcon"></i>
                </a>
            </nav>
            <nav class="site">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </nav>
        </section>
    </header>
    <header>
        <a href="/">
            <img src="" alt="" class="">
        </a>

    </header>


    <footer>
        <section class="links-footer-section">
            <nav class="nav-link-footer">
                <h4 class="h4-footer">Harbor Trip - Agencia de viajes</h4>
                <div><a class="a-footer"><i class="fa-solid fa-location-dot foot-icon"></i> Calle XX numero XXXX La Plata</a></div>
                <div><a class="a-footer"><i class="fa-solid fa-phone foot-icon"></i>Telefono de contacto</a></div>
                <div><a class="a-footer"><i class="fa-solid fa-envelope foot-icon"></i> email ventas: reservas@harbortrip.com </a></div>
                <div><a class="a-footer"><i class="fa-solid fa-clock foot-icon"></i> Lunes a Viernes de 10:00 a 19:00. Sabados hasta medio dia</a></div>
            </nav>
        </section>
        <section class="links-footer-section">
            <nav class="nav-link-footer">
                <h4 class="h4-footer">Harbor Trip</h4>
                <a class="a-footer"><i class="fa-solid fa-handshake-simple foot-icon"></i>Quienes Somos</a>
                <a class="a-footer"><i class="fa-solid fa-people-roof foot-icon"></i> Administracion</a>
                <a class="a-footer"><i class="fa-solid fa-list foot-icon"></i> Requisitos de Viaje</a>
                <a class="a-footer"><i class="fa-regular fa-address-book foot-icon"></i> Contacto</a>
            </nav>
        </section>
        <section class="links-footer-section">
            <nav class="nav-link-footer">
                <h4 class="h4-footer">Links Utiles</h4 class="h4-footer">
                <a class="a-footer"><i class="fa-solid fa-house foot-icon"></i>Home</a>
                <a class="a-footer"> <i class="fa-solid fa-fire foot-icon"></i>Mas Vendidos</a>
                <a class="a-footer"> <i class="fa-solid fa-tags foot-icon"></i>Promociones</a>
                <a class="a-footer"><i class="fa-regular fa-compass foot-icon"></i>Exoticos</a>
            </nav>
        </section>
    </footer>
</body>

</html>