<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head") %>
    <link rel="stylesheet" href="/css/info-mobile.css" />
    <link rel="stylesheet" href="/css/info-desktop.css" />

    <body>
        <%- include("./includes/header") %>
            <main>
                <section class="sectionHead"> 
                    <div class="infoHeader"></div> 
                </section>
                <div class="infoHeader2">
                    <h2>
                        INFORMACIÓN UTIL
                    </h2>
                </div>
                <section class="sectionInfoArticle">
                    <div>
                        <article class="articuloInfo">
                            <a href="/info/infoPassport">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-passport"></i>
                                </div>
                                <div class="articleBody">
                                    <h3>PASAPORTE Y DOCUMENTACION</h3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="/info/infoCovid">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-virus-covid"></i>
                                </div>
                                <div class="articleBody">
                                    <h3>COVID-19</h3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="/info/infoVaccine">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-syringe"></i>
                                </div>
                                <div class="articleBody">
                                    <H3>VACUNA CONTRA LA FIEBRE AMARILLA</H3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="/info/infoVisa">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-earth-europe"></i>
                                </div>
                                <div class="articleBody">
                                    <h3>VISAS</h3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="/info/infoDestination/#arabiainfo">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-earth-europe"></i>
                                </div>
                                <div class="articleBody">
                                    <H3>ARABIA & MEDIO ORIENTE</H3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="/info/infoDestination/#africainfo">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-earth-africa"></i>
                                </div>
                                <div class="articleBody">
                                    <H3>ÁFRICA & ISLAS DEL ÍNDICO</H3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="/info/infoDestination/#sudesteinfo">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-earth-europe"></i>
                                </div>
                                <div class="articleBody">
                                    <H3>SUDESTE ASIÁTICO</H3>
                                </div>
                            </a>
                        </article>
                    </div>
                </section>

            </main>
            <%- include("./includes/footer") %>
    </body>