<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head") %>
    <link rel="stylesheet" href="/css/info-mobile.css" />
    <link rel="stylesheet" href="/css/info-tablet.css" />
    <link rel="stylesheet" href="/css/info-desktop.css" />

    <body>
        <%- include("./includes/header") %>
            <main>
                <section class="sectionHead">
                    <div class="infoHeader">
                        <h2>
                            INFORMACIÓN UTIL
                        </h2>
                    </div>
                </section>
                <section class="sectionInfoArticle">
                    <div>
                        <article class="articuloInfo">
                            <a href="">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-passport"></i>
                                </div>
                                <div class="articleBody">
                                    <h3>PASAPORTE Y DOCUMENTACION</h3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-virus-covid"></i>
                                </div>
                                <div class="articleBody">
                                    <h3>COVID-19</h3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-earth-europe"></i>
                                </div>
                                <div class="articleBody">
                                    <h3>VISAS</h3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-earth-europe"></i>
                                </div>
                                <div class="articleBody">
                                    <H3>ARABIA & MEDIO ORIENTE</H3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-earth-africa"></i>
                                </div>
                                <div class="articleBody">
                                    <H3>ÁFRICA & ISLAS DEL ÍNDICO</H3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-passport"></i>
                                </div>
                                <div class="articleBody">
                                    <H3>REQUISITOS PARA PASAJEROS VIAJANDO AL EXTERIOR CON PASAPORTE ARGENTINO</H3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-syringe"></i>
                                </div>
                                <div class="articleBody">
                                    <H3>VACUNA CONTRA LA FIEBRE AMARILLA</H3>
                                </div>
                            </a>
                        </article>
                        <article class="articuloInfo">
                            <a href="">
                                <div class="articleIcon">
                                    <i class="fa-solid fa-earth-europe"></i>
                                </div>
                                <div class="articleBody">
                                    <H3>SUDESTE ASIÁTICO</H3>
                                </div>
                            </a>
                        </article>
                    </div>
                </section>

            </main>
            <%- include("./includes/footer") %>
    </body>