<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head") %>
    <link rel="stylesheet" href="/css/infoPage-mobile.css" />
    <link rel="stylesheet" href="/css/infoPage-desktop.css" />

    <body>
        <%- include("./includes/header") %>
            <main>
                <section class="sectionHead visaImg">
                    <div class="infoHeader">
                        <h2>
                            INFORMACIÓN UTIL : VISADOS
                        </h2>
                    </div>
                </section>
                <h2>REQUISITOS PARA PASAJEROS VIAJANDO AL EXTERIOR CON PASAPORTE ARGENTINO:</h2>
                <section class="sectionInfo">
                    <p> Importante: es completa responsabilidad del pasajero poseer toda la documentación en regla al momento de su viaje. Pasajeros que viajen con pasaporte de otras nacionalidades deberán consultar en la embajada, consulado
                        o representación correspondiente. Estos datos son de carácter informativo y sujetos a cambios sin previo aviso. ** Última actualización 01/09/2021 ** </p>
                </section>
                <section class="sections">
                    <ul class="ulContainer">
                        <li> - Algunos países requieren tramitar un visado previo al viaje. Otros, en cambio, permiten obtener el visado en el momento de llegada al destino (visado on arrival).</li>
                        <li> - Detallamos algunos casos, recordando que esta información puede sufrir modificaciones y deberá ser reconfirmada por el pasajero al momento de viajar.</li>
                        <li> - Los aranceles son por persona en USD o EUR según se indique.</li>
                        <li> - Tener en cuenta que en nuestros paquetes NO se encuentran incluidos los trámites y gastos de visas, salvo aclaración al respecto.</li>
                    </ul>
                </section>
            </main>
            <%- include("./includes/footer") %>
    </body>