<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head") %>
    <link rel="stylesheet" href="/css/infoPage-mobile.css" />
    <link rel="stylesheet" href="/css/infoPage-desktop.css" />


    <body>
        <%- include("./includes/header") %>
            <main>
                <section class="sectionHead vaccineImg">
                    <div class="infoHeader">
                        <h2>
                            INFORMACIÓN UTIL : VACUNAS
                        </h2>
                    </div>
                </section>
                <h2>REQUISITOS PARA PASAJEROS VIAJANDO AL EXTERIOR CON PASAPORTE ARGENTINO:</h2>
                <section class="sectionInfo">
                    <p> Importante: es completa responsabilidad del pasajero poseer toda la documentación en regla al momento de su viaje. Pasajeros que viajen con pasaporte de otras nacionalidades deberán consultar en la embajada, consulado
                        o representación correspondiente. Estos datos son de carácter informativo y sujetos a cambios sin previo aviso. ** Última actualización 01/09/2021 ** </p>
                </section>
                <section class="sections">
                    <h2>VACUNA CONTRA LA FIEBRE AMARILLA:</h2>
                    <ul class="ulContainer">
                        <li> - Acá podrás descargar el listado de países que exigen el certificado oficial internacional de vacunación contra la fiebre amarilla https://www.argentina.gob.ar/fiebreamarilla/paises-exigen-vacuna</li>
                        <li> - Para viajar se necesita el certificado original oficial expedido por Sanidad de Fronteras o alguno de sus establecimientos autorizados. No será válido el certificado plastificado, ilegible, dañado o emitido por
                            entidades no autorizadas.</li>
                        <li> - La vacuna debe aplicarse mínimamente 10 días antes de la fecha de salida del país.</li>
                        <li> - A partir de 2016, la validez del certificado es de por vida.</li>
                        <li> - Quien sea exento de la aplicación de la vacuna deberá tramitar de todas maneras el certificado oficial de exención. Sin este certificado no se le permitirá embarcar.</li>
                        <li> - En todos los casos recomendamos contactar para mayor información: https://www.argentina.gob.ar/salud/fiebreamarilla</li>
                    </ul>
                </section>
            </main>
            <%- include("./includes/footer") %>
    </body>