<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head") %>
    <link rel="stylesheet" href="/css/infoPage-mobile.css" />
    <link rel="stylesheet" href="/css/infoPage-desktop.css" />  

    <body>
        <%- include("./includes/header") %>
            <main>
                <section class="sectionHead passportImg">
                    <div class="infoHeader">
                        <h2>
                            INFORMACIÓN UTIL : PASAPORTE
                        </h2>
                    </div>
                </section>
                <h2>REQUISITOS PARA PASAJEROS VIAJANDO AL EXTERIOR CON PASAPORTE ARGENTINO:</h2>
                <section class="sectionInfo">
                    <p> Importante: es completa responsabilidad del pasajero poseer toda la documentación en regla al momento de su viaje. Pasajeros que viajen con pasaporte de otras nacionalidades deberán consultar en la embajada, consulado
                        o representación correspondiente. Estos datos son de carácter informativo y sujetos a cambios sin previo aviso. ** Última actualización 01/09/2021 ** </p>
                </section>
            </section>
            <section class="sections">
                <ul class="ulContainer">
                    <li> - El pasaporte debe tener una validez mínima de 6 meses a partir del regreso a Argentina para la mayoría de los países. En caso de tener una validez inferior consultar con anticipación si el destino lo permite,
                        ya que de lo contrario será necesaria su renovación.</li>
                    <li> - Debe contar con al menos dos hojas libres para sellados migratorios. Si visita más de un país, recomendamos tener más hojas disponibles.</li>
                </ul>
            </section>
            </main>
            <%- include("./includes/footer") %>
    </body>