<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head") %>
<link rel="stylesheet" href="/css/info-mobile.css" />
<link rel="stylesheet" href="/css/info-tablet.css" />
<link rel="stylesheet" href="/css/info-desktop.css" />
<body>
    <%- include("./includes/header") %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <p>
<h2>REQUISITOS PARA PASAJEROS VIAJANDO AL EXTERIOR CON PASAPORTE ARGENTINO:</h2>
<section class="sectionInfo">
<p> Importante: es completa responsabilidad del pasajero poseer toda la documentación en regla al momento de su viaje.
Pasajeros que viajen con pasaporte de otras nacionalidades deberán consultar en la embajada, consulado o representación correspondiente.
Estos datos son de carácter informativo y sujetos a cambios sin previo aviso. ** Última actualización 01/09/2021 ** </p>
</section>
<h2>PASAPORTE:</h2>
<section class="sections">
<ul class="ulContainer">
<li> - El pasaporte debe tener una validez mínima de 6 meses a partir del regreso a Argentina para la mayoría de los países. En caso de tener una validez inferior consultar con anticipación si el destino lo permite, ya que de lo contrario será necesaria su renovación.</li>
<li> - Debe contar con al menos dos hojas libres para sellados migratorios. Si visita más de un país, recomendamos tener más hojas disponibles.</li>
</ul>
</section>
<section class="sections">
<h2>COVID-19:</h2>
<ul class="ulContainer">
<li> - En primer lugar tener en cuenta los requisitos para salir y reingresar a Argentina. Dentro de las 48hs previas al viaje se debe completar una Declaración Jurada que puede encontrarse aquí: https://ddjj.migraciones.gob.ar/app/home.php
Además se debe contar con la constancia de PCR negativo para el regreso.</li>
<li> - Para conocer los requisitos de cada país a visitar, recomendamos ingresar a la web de IATA (Asociación Internacional de Transporte Aéreo), que brinda información actualizada de cada destino: https://www.iatatravelcentre.com/world.php</li>
</ul>
</section>
<section class="sections">
<h2>VACUNA CONTRA LA FIEBRE AMARILLA:</h2>
<ul class="ulContainer">
<li> - Acá podrás descargar el listado de países que exigen el certificado oficial internacional de vacunación contra la fiebre amarilla https://www.argentina.gob.ar/fiebreamarilla/paises-exigen-vacuna</li>
<li> - Para viajar se necesita el certificado original oficial expedido por Sanidad de Fronteras o alguno de sus establecimientos autorizados. No será válido el certificado plastificado, ilegible, dañado o emitido por entidades no autorizadas.</li><li> - La vacuna debe aplicarse mínimamente 10 días antes de la fecha de salida del país.</li><li> - A partir de 2016, la validez del certificado es de por vida.</li>
<li> - Quien sea exento de la aplicación de la vacuna deberá tramitar de todas maneras el certificado oficial de exención. Sin este certificado no se le permitirá embarcar.</li>
<li> - En todos los casos recomendamos contactar para mayor información: https://www.argentina.gob.ar/salud/fiebreamarilla</li>
</ul>
</section>
<section class="sections">
<h2>EQUIPAJE VIAJANDO A SUDÁFRICA:</h2>
<ul class="ulContainer">
<li> El aeropuerto O.R. Tambo de Johannesburgo ha aplicado las siguientes normas para el equipaje que se despacha:</li>
<li> - Solo se permitirán equipajes de forma regular. Esto significa que los bultos deben tener al menos una superficie plana para ser aceptadas.</li>
<li> - No se permitirán bolsos o carteras redondos o de forma irregular.</li>
<li> - No se permitirán bolsos o carteras con correas largas.</li>
<li> De todas maneras, los pasajeros que intenten despachar equipaje que no cumplan con estas reglas tendrán la opción de que el mismo sea envuelto con un lado plano en las estaciones de empaque aprobadas por el aeropuerto. </li>
</ul>
</section>
<section class="sections">
<h2>PAQUETES FLY & DRIVE (VUELE Y MANEJE):</h2>
<ul class="ulContainer">
<li> - Licencia internacional + licencia nacional de conducir (deben ser las originales en buen estado, no pueden ser copias)</li>
<li> - Tarjeta de crédito con fondos disponibles suficientes de la persona titular de la reserva para presentar como garantía al momento de retirar el vehículo de alquiler. Sin esto no será posible retirar el vehículo.</li>
<li> - Alquileres one way: al tomar el auto en una ciudad y devolverlo en otra, se deberá abonar una tasa de drop off. La misma varía según el destino y se debita de la tarjeta de crédito de garantía.</li>
<li> - Extras: alquiler de GPS, sillas para bebés, equipo de nieve, etc., podrán ser requeridos al momento de la reserva pero se confirmarán al retirar el vehículo, sujeto a la disponibilidad de los mismos.</li>
</ul>
</section>
<section class="sections">
<h2>VISAS:</h2>
<ul class="ulContainer">
<li> - Algunos países requieren tramitar un visado previo al viaje. Otros, en cambio, permiten obtener el visado en el momento de llegada al destino (visado on arrival).</li>
<li> - Detallamos algunos casos, recordando que esta información puede sufrir modificaciones y deberá ser reconfirmada por el pasajero al momento de viajar.</li>
<li> - Los aranceles son por persona en USD o EUR según se indique.</li>
<li> - Tener en cuenta que en nuestros paquetes NO se encuentran incluidos los trámites y gastos de visas, salvo aclaración al respecto.</li>
</ul>
</section>
<section class="sections">
<h2>ÁFRICA & ISLAS DEL ÍNDICO:</h2>
<ul class="ulContainer">
<li> - ETIOPÍA: on arrival u online en https://www.evisa.gov.et/visa/apply (APROX. USD 50)</li>
<li> - KENYA: online en http://evisa.go.ke/evisa.html (APROX. USD 50)</li>
<li> - MADAGASCAR: on arrival (APROX. EUR 30)</li>
<li> - MALAWI: on arrival u online en https://www.evisa.gov.mw (APROX. USD 50)</li>
<li> - MOZAMBIQUE: online en http://www.mozambiqueargentina.org/visado (APROX. USD 50)</li>
<li> - NAMIBIA: se realiza a través de la Embajada de Namibia en Brasil (demora aproximadamente 20 días, costo a confirmar) o en la embajada de Namibia en Sudáfrica (Johannesburgo o Ciudad del Cabo, demora aproximadamente 3 días hábiles, APROX. USD 40). El trámite es personal.</li>
<li> - TANZANIA: on arrival u online en https://eservices.immigration.go.tz/visa/ (APROX. USD 50)</li>
<li> - UGANDA: online en https://visas.immigration.go.ug (APROX. USD 50)</li>
<li> - ZAMBIA: on arrival (APROX. USD 50)</li>
<li> - ZIMBABWE: on arrival (APROX. USD 30)</li>
</ul>
</section>
<section class="sections">
<h2>ARABIA & MEDIO ORIENTE:</h2>
<ul class="ulContainer">
<li> - EGIPTO: on arrival (APROX. USD 35)</li>
<li> - JORDANIA: para estadías superiores a 48 horas en el país, el visado es gratuito.
Esto es válido para pasajeros que ingresen a Jordania por aeropuertos como por las fronteras terrestres de Arava (Eilat)/Aqaba y Sheik Hussein (frontera norte) pero NO por la frontera del Puente Allenby. Junto con el pedido de reserva se debe enviar el pasaporte escaneado a color.
Pasajeros con pasaporte argentino con estadías menores a 48 horas en Jordania ingresando por frontera terrestre de Arava (Eilat)/Aqaba (ej.: excursión FD a Petra desde Eilat, con regreso a Israel en el día) pueden obtener el visado en destino pero junto con la reserva deben enviar la copia escaneada del pasaporte. Además los pasajeros deberán abonar en frontera el valor del visado (APROX. USD 60) + las tasas de frontera y propinas (APROX. USD 65). El pago debe efectuarse en moneda local. </li>
<li> - LÍBANO: se realiza en la Embajada de Líbano en Buenos Aires previamente al viaje. Más info en https://www.ellibano.com.ar/docs/es/visa.php</li>
</ul>
</section>
<section class="sections">
<h2>RUSIA & CÁUCASO:</h2>
<ul class="ulContainer"> 
<li> - AZERBAIYÁN: online en https://www.evisa.gov.az/en/ (APROX. USD 25)</li>
</ul>
</section>
<section class="sections">
<h2>SUDESTE ASIÁTICO:</h2>
<ul class="ulContainer">
<li> - CAMBOYA: on arrival. Llevar 2 fotos carnet 4x4 cm (APROX. USD 30)</li>
<li> - LAOS: on arrival. Llevar 2 fotos carnet 4x4 cm (APROX. USD 35)</li>
<li> - MYANMAR: online en https://evisa.moip.gov.mm (APROX. USD 50). Se debe aplicar máximo 35 días antes de la llegada al país.</li>
<li> - VIETNAM: junto con el pedido de reserva, enviar copia escaneada del pasaporte para tramitar carta de invitación (APROX. USD 20). A su llegada a Vietnam, el pasajero finaliza el trámite abonando el sellado del visado (APROX. USD 25).</li>
</ul>
</section>
<section class="sections">
<h2>LEJANO ORIENTE:</h2>
<ul class="ulContainer">
<li> - CHINA: se realiza en la Embajada China en Buenos Aires previamente al viaje. El trámite puede ser personal o a través de nuestras oficinas (consultar costos de gestión y requisitos).</li>
</ul>
</section>
<section class="sections">
<h2>INDIA, NEPAL & SRI LANKA:</h2>
<ul class="ulContainer">
<li> - INDIA: se realiza personalmente en la Embajada de India en Buenos Aires u online en la siguiente página: https://indianvisaonline.gov.in/visa/tvoa.html (GRATUITA). Si tramita la visa online seleccionar opción E-VISA.</li>
<li> - NEPAL: on arrival (APROX. USD 30)</li>
<li> - SRI LANKA: se debe tramitar una Autorización Electrónica de Viaje (ETA) en http://www.eta.gov.lk/slvisa (APROX. USD 35)</li>
</ul>
</section>
<section class="sections">
<h2>OCEANÍA & PACÍFICO SUR:</h2>
<ul class="ulContainer">
<li> - AUSTRALIA: se realiza personalmente en la Embajada de Australia en Buenos Aires u online en: http://www.homeaffairs.gov.au/Trav/Visa-1/600-/Visitor-e600-visa-online-applications (APROX. USD 110)</li>
<li> - NUEVA ZELANDA: se debe realizar una autorización (ETA), o descargando la App o vía online en immigration.govt.nz/nzeta previo al viaje (APROX. USD 10). Y al hacer dicho trámite también se abonará una tasa de conservación (APROX. USD 35). Aplica tanto para turistas que recorran Nueva Zelanda como para pasajeros en tránsito.</li>
</ul> 
</section>
                  
</p>
                </div>
            </div>
        </div>
    </main>
    <%- include("./includes/footer") %>
</body>
