<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head") %>
    <link rel="stylesheet" href="/css/us-mobile.css" />
    <link rel="stylesheet" href="/css/us-tablet.css" />
    <link rel="stylesheet" href="/css/us-desktop.css" />

    <body>
        <%- include("./includes/header") %>
            <main class="main-complete">
                <section class="main-image">
                    <div class="info">
                        <h2>¿Quienes somos?</h2>
                        <p>Harbor Trip es, antes que nada, un gran grupo de jóvenes profesionales, proactivos y abiertos a las nuevas tendencias. Aventureros en su esencia, en constante formación y sumando experiencias. Otorgamos un servicio de calidad en
                            asesoramiento de viajes. Respetando intereses y preferencias, alentaremos a nuestro público a descubrir y descubrirse más.</p>
                    </div>
                </section>



            </main>
            <%- include("./includes/footer") %>
    </body>