<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/createProducts-mobile.css" />
        <link rel="stylesheet" href="/css/createProducts-tablet.css" />
        <link rel="stylesheet" href="/css/createProducts-desktop.css" />
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script defer src="/scripts/products.js"></script>
</head>

<body>
    <%- include("../includes/header") %>

        <main>
            <section class="imageCreateProducts">
                <form action="/products/save" method="post" class="formAreaCreateProducts" id="createPr" enctype="multipart/form-data">
                    <div class="divCreateProduct">
                        <h2 class="headerCreateProduct">CARGA UN NUEVO PRODUCTO</h2>
                    </div>
                    <fieldset class="labelFieldset">
                        <label for="nombreProducto"> * Titulo del producto </label>
                        <input class="text_area k2TitleBox" type="text" id="tittle" name="tittle" autocomplete="off" maxlength="250" placeholder="Ingresa un titulo para el paquete" />
                        <p class="msg-error">
                        </p>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="precioProducto"><i class="fa-solid fa-money-check-dollar"></i> Precio por
                            persona en U$s </label>
                        <input type="number" name="salesPrice" id="salesPrice" class="inputTextFieldCreateProducts" placeholder="10000">
                        </label>
                        <label for="basePrecio"><i class="fa-solid fa-location-dot registerIcon"></i>
                            Base : </label>
                        <select name="base" id="base" placeholder="Base" class="inputTextFieldCreateProducts">
                            <option value="Doble"> Doble</option>
                            <option value="Single"> Single</option>
                            <option value="Family Plan"> Family Plan</option>  
                        </select>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="imagenProducto"><i class="fa-solid fa-image"></i> * Imagen ilustrativa - recomendado 400x300</label>
                        <input type="file" name="image" id="image" accept="image/png, .jpeg, .jpg, image/gif" class="">
                        <p class="msg-error">
                        </p>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="categoriaProducto"><i class="fa-solid fa-location-dot registerIcon"></i>
                            Categoría</label>
                        <select name="category" id="categoriaProducto" placeholder="Categoria A" class="inputTextFieldCreateProducts">
                            <option value="Exotico">Exotico</option>
                            <option value="Aventura">Aventura</option>
                            <option value="Culturas Milenarias">Culturas Milenarias</option>
                            <option value="Playas">Playas</option>
                            <option value="Clasicos">Clasicos</option>
                        </select>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="regionProducto"><i class="fa-solid fa-location-dot registerIcon"></i>
                            Region</label>
                        <select name="regionId" id="region" placeholder="Region" class="inputTextFieldCreateProducts">
                            <option value="1">Africa</option>
                            <option value="2">Lejano Oriente</option>
                            <option value="3">Medio Oriente</option>
                            <option value="4">Islas del Pacifico Sur</option>
                            <option value="5">Islas del Indico</option>
                            <option value="6">Oceania</option>
                            <option value="7">Sudeste Asiatico</option>
                        </select>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="cantidadNoches"><i class="fa-solid fa-bed"></i> Cantidad de noches de alojamiento
                            <input type="number" name="nights" id="nights" max="99" min="1"
                                class="cantNoches" /></label>
                        <label for="cantidadDias"><i class="fa-solid fa-sun"></i> Cantidad de dias de viaje
                            <input type="number" name="days" id="days" max="99" min="1" class="cantDias" /></label>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for=""><i class="fa-solid fa-star"></i>Categoria de Hoteles:
                        </label>
                        <label for="5estrellasHotel">
                            <input type="checkbox" name="stars" id="stars" placeholder="2" value="5"
                                class="" /><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i>
                        </label>
                        <label for="4estrellasHotel">
                            <input type="checkbox" name="stars" id="stars" placeholder="2" value="4"
                                class="" /><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        </label>
                        <label for="3estrellasHotel">
                            <input type="checkbox" name="stars" id="stars" placeholder="2" value="3"
                                class="" /><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i>
                        </label>
                        <label for="2estrellasHotel"><input type="checkbox" name="stars" id="stars" value="2"
                                placeholder="2" class="" />
                            <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        </label>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="itinerario">
                            <i class="fa-solid fa-van-shuttle"></i> Itinerario/excursiones:
                        </label>
                        <input class="text_area k2TitleBox" type="text" name="shortDescription" id="shortDescription" maxlength="250" value="" placeholder="Pittensberg Bay, Johannesburgo, ..." />
                        <p class="msg-error">
                        </p>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <input type="checkbox" name="flights" id="flights" value="true" /><label for="aereos">
                            <i class="fa-solid fa-plane-departure"></i> aereos incluidos</label>
                        <input type="checkbox" name="transfers" id="transfers" value="true" /><label for="traslados">
                            <i class="fa-solid fa-bus"></i> Incluye traslados in/out y entre hoteles </label>
                        <input type="checkbox" name="excursion" id="excursion" value="true" /><label for="excursion">
                            <i class="fa-solid fa-bus"></i> Incluye Excursiones </label>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="regionProducto"><i class="fa-solid fa-award"></i> Status</label></label>
                        <select name="status" id="status" placeholder="Status" class="inputTextFieldCreateProducts">
                        <option value="none">-----</option>
                        <option value="highLighted">highLighted</option>
                        <option value="bestSeller">bestSeller</option>
                    </select>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="tags"><i class="fa-solid fa-hashtag"></i> Tags</label>
                        <input class="text_area k2TitleBox" type="text" name="tags" id="tags" maxlength="250" value="" placeholder="#exoticos #paraiso" />
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="descripcionProducto"><i class="fa-solid fa-list"></i> Descripcion del itinerario
                        </label>
                        <textarea class="productDescriptionField" type="textarea" name="longDescription" id="longDescription" placeholder="DIA 01: .., DIA 02:.. " maxlength="100000"></textarea>
                    </fieldset>
                    <fieldset class="buttonField">
                        <button type="submit" value="Crear Producto" name="crearProducto" class="buttonCreateProduct">Crear Producto</button>
                        <button type="reset" value="Cancelar" name="cancelar" class="buttonClose">Cancelar</button>
                    </fieldset>
                </form>
            </section>
        </main>

        <%- include("../includes/footer") %>
</body>

</html>