<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/css/details-mobile.css">
    <link rel="stylesheet" href="/css/details-tablet.css">
    <link rel="stylesheet" href="/css/details-desktop.css">
</head>

<body>
    <main>
        <article>
            <section class="imagenPaquete">
                <figure>
                    <img src="" alt="">
                </figure>
            </section>
            <section class="detallePaquete">
                <div class="tituloPaquete"></div>
                <div class="precioPaquete"></div>
                <div class="condicionesPaquete"></div>
                <div class="resumenPaquete">
                    <li>Alojamiento</li>
                    <li>Cantidad de noches/dias</li>
                    <li>Incluye aereos/traslados</li>
                    <li>Itinerario:</li>
                </div>
            </section>
        </article>
        <article>
            <section class="imagenPaquete">
                <figure>
                    <img src="" alt="">
                </figure>
            </section>
            <section class="detallePaquete">
                <div class="tituloPaquete"></div>
                <div class="precioPaquete"></div>
                <div class="condicionesPaquete"></div>
                <div class="resumenPaquete">
                    <li>Alojamiento</li>
                    <li>Cantidad de noches/dias</li>
                    <li>Incluye aereos/traslados</li>
                    <li>Itinerario:</li>
                </div>
            </section>
        </article>
    </main>


    <%- include("../includes/footer") %>
    
</body>

</html>