<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/resetPass-mobile.css">
        <link rel="stylesheet" href="/css/resetPass-desktop.css">
        

</head>

<body>

    <%- include("../includes/header") %>

    <main>
        <div class="mainDiv container"> 
            <div class="secondDiv">
                <header class="sent">¡Perfecto! Estás a un solo paso...</header>
                <div class="field iconContainer">
                    <i class="fa-sharp fa-solid fa-envelope-circle-check"></i>
                </div>
                <h2>Te enviamos un email para generar una nueva contraseña.</h2>
                <p>Si el email no aparece, verifica en tu carpeta de correo no deseado.</p>
            </div>
            <div class="backHome">
                <a href="/">Volver a la Home</a>
            </div>
        </div>
    </main>


    <%- include("../includes/footer") %>

</body>

</html>