<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/resetPass-mobile.css">
        <link rel="stylesheet" href="/css/resetPass-desktop.css">

</head>

<body>

    <%- include("../includes/header") %>

    <main>
        <div class="mainDiv container"> 
            <div class="secondDiv">
                <header >Recuperar Contraseña</header>
                <h2>Ingresa tu direccion de correo electronico registrada</h2>
                <p>Te enviaremos un email para que reestablezcas tu contraseña</p>
                <form action="/users/recover" method="post" id="forgotPasswordForm">
                    <div class="field">
                        <input type="email" name="email" placeholder="Ingresa el correo con el que estas registrado" id="emailFp">
                        <div class="error-text"></div>
                    </div>
                    <button type="submit" name="sendButton"id="fpButton">Recuperar Contraseña</button>
                </form>
            </div>
        </div>
    </main>


    <%- include("../includes/footer") %>

</body>

</html>