<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/css/logged-mobile.css">
    <link rel="stylesheet" href="/css/logged-desktop.css">
</head>
<body>

    <section class="RRSS">
        <section class="RRSSCointainer">
          <div class="RRSSItems">
            <a href="https://www.youtube.com/">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
          <div class="RRSSItems">
            <a href="https://twitter.com/">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="RRSSItems">
            <a href="https://ar.linkedin.com/">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
          <div class="RRSSItems">
            <a href="https://www.instagram.com/harbortrip/">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
          <div class="RRSSItems">
            <a href="https://www.facebook.com/HarborTrip">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
        </section>
      </section>
      <header class="main-header">
        <section class="top-header">
          <nav class="nav-logo">
            <a href="/">
              <figure>
                <img src="/assets/PERFIL-01.jpeg" alt="" class="logoHB" />
              </figure>
            </a>
          </nav>
          <nav class="site">
            <a href="" class="buttonNavSite">
              <p>Información Útil</p>
            </a>
            <a href="" class="buttonNavSite">
              <p>Destinos</p>
            </a>
            <a href="" class="buttonNavSite">
              <p>Destacados</p>
            </a>
            <a href="" class="buttonNavSite">
              <p>Experiencias</p>
            </a>
            <a href="" class="buttonNavSite">
              <p>Quienes somos</p>
            </a>
            <span class="iconMobile"
              ><i class="fa-solid fa-user"></i><span class="user-name"> ¡Hola, <%= "user" %> !</span>
              </span>
              <a href="/" class="iconMobile"><i class="fa-solid fa-user-xmark"></i> Cerrar sesión</a
            >
          </nav>
        </section>
        <section class="mobileHeader">
          <nav id="burgerMenu">
            <a href="">
              <i class="fas fa-bars burger-menu burgerIcon"></i>
            </a>
          </nav>
        </section>
      </header>
      

    <main>
        <section class="imageLogged">
            <div class="userOptions">
              <a href="/"><i class="fa-solid fa-address-card"></i><p class="options">Editar mi perfil</p></a>
              <a href="/products/createProducts"><i class="fa-solid fa-plus"></i><p class="options">Crear producto</p></a>
              <a href="/products/editProduct"><i class="fa-solid fa-pen-to-square"></i><p class="options">Editar productos</p></a>
              <a href="/"><i class="fa-solid fa-chart-line"></i><p class="options">Mis cotizaciones</p></a>
              <a href="/"><i class="fa-solid fa-receipt"></i><p class="options">Mis ventas</p></a>
            </div>
            <div class="userOptions">
                <a href="/"><i class="fa-solid fa-comments-dollar"></i><p class="options">Cotización USD</p></a>
                <a href="/"><i class="fa-solid fa-newspaper"></i><p class="options">Novedades</p></a>
                <a href="/"><i class="fa-solid fa-circle-info"></i><p class="options">Bases y condiciones</p></a>
                <a href="/"><i class="fa-solid fa-handshake-angle"></i><p class="options">Ayuda</p></a>
                <a href="/"><i class="fa-solid fa-file-invoice-dollar"></i><p class="options">Facturación</p></a>
              </div>
        </section>
    </main>

    <%- include("../includes/footer") %>

</body>

</html>