<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/resetPass-mobile.css">
        <script defer src="/scripts/resetPassword.js"></script>
</head>

<body>

    <%- include("../includes/header") %>

    <main>
        <div class="container">
            <header>Restablece tu contrase침a</header>
            <form action="/users/newPass" method="post">
               <div class="error-text"></div>
               <div class="field">
                <input id="email"  placeholder="Ingresa tu correo registrado" name='email'>
             </div>
             <div class="field">
                <input id="token" placeholder="Ingresa el token de confirmacion" autocomplete="on" name='token' >
             </div>
             <p>El token se te ha enviado a tu correo. Recuerda que tiene una validez unica y expir치 en 1 hora.</p>
               <div class="field">
                  <input onkeyup="active()" id="password1" name="password1" type="password" placeholder="Ingresa tu nueva contrase침a">
               </div>
               <div class="field">
                  <input onkeyup="active_2()" id="password2" name="password2" type="password" placeholder="Confirma tu contrase침a">
                  <div class="show">
                     SHOW
                  </div>
               </div>
               <button disabled type="submit">Check</button>
            </form>
         </div>
    </main>


    <%- include("../includes/footer") %>

</body>

</html>