<section class="RRSS">
  <section class="RRSSCointainer">
    <div class="RRSSItems">
      <a href="https://www.youtube.com/">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
    <div class="RRSSItems">
      <a href="https://twitter.com/">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </div>
    <div class="RRSSItems">
      <a href="https://ar.linkedin.com/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div class="RRSSItems">
      <a href="https://www.instagram.com/harbortrip/">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
    <div class="RRSSItems">
      <a href="https://www.facebook.com/HarborTrip">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </section>
</section>
<header class="main-header">
  <section class="top-header">
    <nav class="nav-logo">
      <a href="/">
        <figure>
          <img src="/assets/PERFIL-01.jpeg" alt="" class="logoHB" />
        </figure>
      </a>
    </nav>
    <nav class="site">
      <a href="" class="buttonNavSite">
        <p>Información Útil</p>
      </a>
      <a href="" class="buttonNavSite">
        <p>Destinos</p>
      </a>
      <a href="" class="buttonNavSite">
        <p>Destacados</p>
      </a>
      <a href="" class="buttonNavSite">
        <p>Experiencias</p>
      </a>
      <a href="" class="buttonNavSite">
        <p>Quienes somos</p>
      </a>
      <a href="/login" class="iconMobile"
        ><i class="fa-solid fa-arrow-right-to-bracket"></i> Ingresá</a
      >
      <a href="/register" class="iconMobile"
        ><i class="fa-solid fa-id-card"></i> Registrate</a
      >
    </nav>
  </section>
  <section class="mobileHeader">
    <nav id="burgerMenu">
      <a href="">
        <i class="fas fa-bars burger-menu burgerIcon"></i>
      </a>
    </nav>
  </section>
</header>
