@media screen and (min-width: 768px) {

    main{
        gap: 2rem;
    }

    h1{
        font-size: 5rem;
    }

    h3{
        font-size: 3rem;
    }

    main>figure>img{
        width: 35vw;
    }
}