@media screen and (min-width: 980px) {
    .articleMainContainer {
        display: -webkit-inline-box;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.734);
    }
    .usuario {
        display: block;
        flex-basis: 50%;
    }
    .articleDetails {
        padding: 30px;
    }

    .pax-form form {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
}

.fieldset-box-pax {
    margin-top: 2rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 2rem;
}
.longDescprition{
    display: inline;
    background-color: #fff;
    margin-top: 2rem;
    color: #000000;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 2rem;
    }


.longDescprition span{
    font-size: 1.2rem;
    white-space: pre-wrap;
    
}

}