.mainClassDetails {
    margin: 0;
    background-color: #3ab494;
}

.mainDetails {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 2px solid blue;
}

.mainFigureDetails img {
    width: 40vw;
    height: auto;
}

.mainImageDetails {
    border: 2px solid yellow;
    width: 40vw;
    height: auto;
}

.mainClassDetails .description-product1 {
    display: flex;
    flex-direction: column;
}

.mainClassDetails .description-product1 h1 {
    font-size: 2em;
    padding: 1.5em;
    color: goldenrod;
}

.mainClassDetails .description-product1 p {
    font-size: 1.5em;
    padding: 2em;
}