main {
  margin: 0px auto;
  padding-left: 8%;
  padding-right: 8%;
  border: none;
  background-image: url(/assets/pexels-photo-297755.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.divCreateProduct {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.divCreateProduct a {
  color: dodgerblue;
}

.headerCreateProduct {
  font-size: 1.3rem;
  color: rgba(255, 255, 255);
}


.editProductLink {
  font-size: 10px;
  color: #128f76;
}

.imageCreateProducts {
  padding: 8px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.formAreaCreateProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  background-color: rgba(140, 139, 139);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #000;
  padding: 20px;
  margin-top: 10px;
  max-width: 1100px;
}

.formAreaCreateProducts .labelFieldset {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.labelFieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border-top: 1px solid #fff;
}

.labelFieldset label {
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.834);
}

.cantNoches {
  text-align: center;
  width: 40px;
  height: 20px;
}

.cantDias {
  text-align: center;
  width: 40px;
  height: 20px;
}

.labelFieldset i {
  font-size: 1.5rem;
  margin-right: 5px;
}

.buttonClose {
  display: block;
  padding: 4px 8px;
  color: rgba(255, 255, 255, 0.834);
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  background: #e74c3c;
}

.buttonCreateProduct {
  display: block;
  padding: 4px 8px;
  color: rgba(255, 255, 255, 0.834);
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  background: #128f76;
}

.buttonField {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

.buttonField a {
  text-decoration: none;
}

.k2TitleBox {
  font-size: 15px;
  height: 25px;
  padding: 5px 6px;
  width: 100%;
  box-sizing: border-box;
}

.productDescriptionField {
  font-size: 15px;
  height: 10rem;
  padding: 5px 6px;
  width: 100%;
  border: 1px solid green;
  box-sizing: border-box;
}

.labelFieldset input {
  background-color: rgba(255, 255, 255, 0.834);
}

.labelFieldset select {
  background-color: rgba(255, 255, 255, 0.834);
}

.labelFieldset textarea {
  background-color: rgba(255, 255, 255, 0.834);
}

.productDescriptionField input {
  background-color: rgba(255, 255, 255, 0.834);
  display: wrap;
  flex-wrap: wrap;
  text-align: start;
}

.checkDelete {
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.834);
    text-decoration: none;
  }
  
  .checkDelete input {
    margin-left: 10px;
  }
  
  .checkDelete button {
    font-size: 10px;
    padding: 0.4rem;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.778);
    background-color: rgba(184, 97, 97, 0.834);
  }

  .checkDelete button:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 red;
  }


  .checkDelete button i {
    margin-right: 7px;
  }

.checkEdit{
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.834);
    text-decoration: none;
}


/* validations */

.msg-error {
  display: none;
  flex-basis: 100%;
  padding: 0.1rem;
  text-align: center;
  margin-top: .5rem;
}

.labelFieldset .inputTextFieldCreateProducts.invalid{
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.labelFieldset .inputTextFieldCreateProducts.valid{
  border-bottom: 1px solid green;
  border-top: 1px solid green;
  border-left: 1px solid green;
  border-right: 1px solid green;
}

.labelFieldset.invalid .msg-error, .labelFieldset.invalid label {
  color: #fff;
}

.labelFieldset.invalid .msg-error {
  display: block;
}


.labelFieldset.valid .msg-error, .labelFieldset.valid label {
  color: #fff;
}

.labelFieldset.valid .msg-error {
  display: block;
}