footer {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #64bda5;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    box-sizing: border-box;
}

.links-footer-section {
    border: 0.5px solid #ccc;
    background-color: #09a889;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 10px;
    padding: 10px;
}

.links-footer-section .nav-link-footer .h4-footer {
    margin-bottom: 15px;
    font-size: 3rem;
}

.nav-link-footer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.nav-link-footer a {
    flex-grow: 1;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #4c4c4a;
    font-size: 1.2rem;
}

.nav-link-footer div {
    display: flex;
    flex-wrap: wrap;
}

.a-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.foot-icon {
    font-size: 1.7em;
    margin-bottom: 10px;
    color: #1259c3;
}