.RRSS {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    gap: 1rem;
}

.RRSS .RRSSItems {
    margin-right: auto;
    width: 26px;
    height: auto;
    border: 0px;
}

.RRSS .RRSSItems a {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: #049473;
}

.RRSS .RRSSItems:hover {
    border: 1px solid rgba(0, 233, 175, 0.707);
    border-radius: 20px;
}

.RRSS .RRSSItems:hover i {
    color: rgba(0, 233, 175, 0.707);
}

#burgerMenu a {
    background: hsl(159, 7%, 62%);
    width: 24px;
    height: 24px;
    margin: 12px;
    padding: 1px;
    border: 0.5px solid black;
    color: hsl(210, 100%, 100%);
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}

.main-header .top-header {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
}

.main-header .top-header .nav-logo {
    width: 20%;
    height: auto;
    float: left;
}

.main-header .top-header .site {
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.main-header .top-header .site .buttonNavSite2 {
    display: none
}

.main-header .top-header .site .iconMobile i {
    font-size: 1.2rem;
    margin-left: 10px;
    color: aliceblue;
}

.logoHB {
    width: 120px;
    height: 120px;
}

.main-header .top-header {
    width: 50%;
    display: flex;
}

.main-header {
    display: flex;
    flex-flow: wrap-reverse;
    flex-direction: row-reverse;
    border-top: solid 1px black;
    background-color: #049473;
    padding: 0px 40px;
    align-items: center;
    justify-content: space-between;
}

.main-header .top-header .site .buttonNavSite {
    display: none;
}

.main-header .top-header .site .buttonNavSite2 {
    text-decoration: none;
}

.main-header .top-header {
    width: 70%;
}

.main-header .top-header .site {
    box-sizing: border-box;
    margin-left: 30px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}