* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
}

.RRSS {
	display: none;
}

.main-header {
	background-color:#049473;
	padding: 0px 40px;
}

.main-header .top-header .nav-logo {
	float: left;
}

.logoHB {
	width: 120px;
	height: 120px;
}

.main-header .top-header .site a {
	display: none;
}