@media screen and (min-width: 780px) {
    main {
        max-width: 1600px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
    .sections {
        justify-content: center;
        width: 100%;
        max-width: 80rem;
    }
    .sectionInfo{
        max-width: 60rem;
        font-size: 1rem;
    }
    .sectionHead{
        max-width: 1400px;
        min-height: 300px;
    }
}

