* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    scroll-behavior: smooth;
}

main {
    box-sizing: border-box;
    text-align: center;
}

.sectionHead {
    background-image:url(/assets/info-util.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color: #fef9f9;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content:flex-end;
}
.sectionHead .infoHeader{
    background-color: rgba(150, 150, 150,0.35) ;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content:center;

}

.infoHeader2{
    margin:0;
    text-align: center;
    font-size: x-large;
    color: #4c4c4a;
    background-color: #64bda5;
}

.infoHeader2 h2 {
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
}


.sectionHead .infoHeader h2{
    text-decoration: none;
    color: #f2f2f2;
    font-weight:900;
    
}

.sectionInfoArticle {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.sectionInfoArticle div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articuloInfo a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    margin: 10px;
    height: 8rem;
    width: 18rem;
    border: 0.5px solid grey;
    border-radius: 8px;
    text-decoration: none;
}

.articuloInfo .articleIcon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.articuloInfo .articleIcon i {
    font-size: 3rem;
    color: cornflowerblue;
}

.articuloInfo .articleBody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 70%;
}

.articuloInfo .articleBody H3 {
    font-size: 1rem;
    color: rgba(156, 155, 155, 0.841);
}

.articuloInfo a:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: azure;
    transition: all 0.7s ease;
}

