* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    scroll-behavior: smooth;
}

main {
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.sectionInfo {
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    color: tomato
}

.sectionInfo p {
    font-size: larger;
}

main h2 {
    text-align: justify;
    font-size: larger;
    text-decoration: underline;
    margin-left: 150px;
}

.ulContainer {
    margin: 0 auto;
    text-align: justify;
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px
}

.ulContainer li {
    font-size: 14px;
    margin-bottom: 20px;
}

.sections {
    background-color: #f2f2f2;
    margin-bottom: 20px;
}