* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
}

main {
  text-align: center;
    }

.imageLogin {
  background-image: url(/assets/mapa_camara_2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
  width: 100%;
  height: 80vh;
}

.imageRegister {
  background-image: url(/assets/mapa_camara_bcg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
  width: 100%;
  height: auto;
}

.header {
  padding-top: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.formAreaRegister {
  padding: 1em;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(140, 139, 139, 0.734);
  width: 90vw;
  margin-top: 15rem;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vw;
  border-radius: 22px;
}

.labelFieldset {
  margin-left: 4px;
  margin-top: 2rem;
  padding: 1vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bottomCheck2 .recordarPass {
  font-size: 0.8rem;
  margin-left: 5px;
}

.bottomCheck2 {
  color: #cccccc;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 1vw;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.bottomCheck2 label {
  font-size: 0.6em;
}

.formAreaRegister .olvidePass a {
  color: rgb(13, 77, 160);
}

.formAreaRegister .labelFieldset label {
  color: rgba(255, 255, 255, 0.734);
  display: flex;
  width: 15vw;
  max-width: 160px;
  font-size: 1rem;
  height: 2rem;
  border-radius: 4px;
  padding-left: 5px;
}

.formAreaRegister .labelFieldset .inputTextFieldRegister {
  margin-left: 2em;
  padding-left: 1em;
  background-color: rgba(255, 255, 255, 0.734);
  border-bottom: 2px solid #7c7c7c;
  font-size: 1rem;
  display: flex;
  width: 50vw;
  max-width: 365px;
  height: 2em;
  border-radius: 4px;
  justify-content: center;
}

.registerIcon {
  margin-right: 3px;
}

.buttonField {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding: 5px;
}

.buttonField a {
  text-decoration: none;
  width: 30%;
}

.sendButton {
  width: 10rem;
  display: block;
  padding: 4px 8px;
  color: rgba(255, 255, 255, 0.834);
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  background: #128f76;
}

.sendButton:hover {
  background: #007aff;
}

/* validations */

.msg-error {
  display: none;
  flex-basis: 100%;
  padding: 0.1rem;
  text-align: center;
  margin-top: .5rem;
}

.formAreaRegister .labelFieldset .inputTextFieldRegister.invalid{
   border-bottom: 1px solid red;
   border-top: 1px solid red;
   border-left: 1px solid red;
   border-right: 1px solid red;
}



.labelFieldset.invalid .msg-error, .labelFieldset.invalid label {
  color: #fff;
}

.labelFieldset.invalid .msg-error {
  display: block;
}

.formAreaRegister .labelFieldset .inputTextFieldRegister.valid{
  border-bottom: 1px solid green;
  border-top: 1px solid green;
  border-left: 1px solid green;
  border-right: 1px solid green;
}

.labelFieldset.valid .msg-error, .labelFieldset.valid label {
  color: #fff;
}

.labelFieldset.valid .msg-error {
  display: block;
}