* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.colores {
    color: #049473;
    color: #bde0d6;
    color: #3ab494;
    color: #8cccb4;
    color: #64bda5;
    color: #1bac94;
    color: #74c4b4;
    color: #09a889;
    color: #c7c7c7;
    color: #4c4c4a;
    color: #949494;
    color: #7c7c7c;
    color: #a4a4a4;
    color: #8c8c8c;
    color: #747474;
    color: #545454;
}