@media screen and (min-width: 780px) {
    .bottomClassMain .firstSection {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bottomClassMain .lastSection {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .mainClass .topClassMain {
        left: 45vw;
        bottom: 10vw;
    }
    .bottomClassMain .fancyHeader h2 {
        font-size: large;
    }
}

@media screen and (min-width: 980px) {
    .bottomClassMain .firstSection {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .bottomClassMain .lastSection {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* ====================================Products Carousel============================= */

    .carousel{
        display: flex !important;
        height: 53rem !important;
        width: 100%;
    }

    .horsey{
        width: 33.3% !important;
    }

    .btn-next{
        left: 93vw;
    }

    .breadcrumbs{
        left: 45%;
        top: 98%;
    }
}