@media screen and (min-width: 480px) {
    .bottomClassMain {
        display: flex;
        flex-wrap: wrap;
    }
    .bottomClassMain .firstSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    .bottomClassMain .lastSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mainClass .topClassMain {
        left: 45vw;
        bottom: 10vw;
    }
    .bottomClassMain .firstSection {
        margin-bottom: 5vw;
    }
    .middleClassMain .articleExperiencias {
        width: 15vw;
        margin-bottom: 30px;
    }
}