* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
}

.imageLogin {
    background-image: url(/assets/mapa_camara_2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
    width: 100%;
    height: 80vh;
}

.imageRegister {
    background-image: url(/assets/mapa_camara_bcg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
    width: 100%;
    height: auto;
}

.header {
    padding-top: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.formAreaRegister {
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(140, 139, 139, 0.734);
    width: 60vw;
    margin-top: 5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10vw;
    border-radius: 22px;
}

.labelFieldset {
    margin-left: 4px;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.labelFieldset .recordarPass {
    font-size: 5px;
}

.bottomCheck {
    font-size: 0.5rem;
    color: #cccccc;
    margin-left: 4px;
    padding: 1vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.bottomCheck label {
    font-size: 0.6rem;
}

.bottomCheck input {
    margin-left: 5px;
}

.formAreaRegister .labelFieldset label {
    color: rgba(255, 255, 255, 0.734);
    display: flex;
    width: 15vw;
    font-size: 0.5em;
    height: 2rem;
    border-radius: 4px;
    padding-left: 5px;
}

.formAreaRegister .labelFieldset .inputTextFieldRegister {
    margin-left: 2em;
    padding-left: 1em;
    background-color: rgba(255, 255, 255, 0.734);
    border-bottom: 2px solid #7c7c7c;
    font-size: 0.5em;
    display: flex;
    width: 30vw;
    height: 2em;
    border-radius: 4px;
    justify-content: center;
}

.registerIcon {
    margin-right: 3px;
}

.buttonField {
    display: flex;
    justify-content: center;
    gap: 55px;
    padding: 5px;
}

.buttonField a {
    width: 30%;
}

.sendButton {
    width: 10vw;
    display: block;
    padding: 4px 8px;
    color: rgba(255, 255, 255, 0.834);
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    background: #128f76;
}

.sendButton:hover {
    background: #007aff;
}

/* validations */

.msg-error {
    display: none;
    flex-basis: 100%;
    padding: 0.1rem;
    text-align: center;
    margin-top: .5rem;
}

.labelFieldset.invalid {
    background-color:#4c4c4a;
}

.labelFieldset.invalid .msg-error, .labelFieldset.invalid label {
    color: #fff;
}

.labelFieldset.invalid .msg-error {
    display: block;
}

.labelFieldset.valid {
    background-color: #049473;
}

.labelFieldset.valid .msg-error, .labelFieldset.valid label {
    color: #fff;
}

.labelFieldset.valid .msg-error {
    display: block;
}