* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    scroll-behavior: smooth;
}

main .main-image {
    text-align: center;
    width: 100%;
    height: 80vh;
    opacity: 75%;
    box-sizing: border-box;
    border: 0px;
    background-image: url(/assets/airport.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}

main section .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 100rem;
    height: 100%;
    padding: 2rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2)
}

main section .info h2 {
    color: #fff;
    font-size: 2rem;
}

main section .info p {
    color: #fff;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}