<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="./css/createProducts-mobile.css">
    <link rel="stylesheet" href="./css/createProducts-tablet.css">
    <link rel="stylesheet" href="./css/createProducts-desktop.css">
</head>

<body>


    <%- include("../includes/header") %>

    <main>
        <section class="imageCreateProducts">
            <form action="/" method="post" class="formAreaCreateProducts">
                <fieldset class="labelFieldset">
                    <label for="nombreProducto"><i class="fa-solid fa-heading"></i> Nombre paquete</label>
                    <input class="text_area k2TitleBox" type="text" name="title" id="title" maxlength="250" value=""required>
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="descripcionProducto"><i class="fa-solid fa-money-check-dollar"></i> Precio</label>
                    <input type="number" name="precioProducto" placeholder="$10000" class="inputTextFieldCreateProducts">
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="imagenProducto"><i class="fa-solid fa-image"></i> -Imagen-</label>
                    <input type="file" name="imagenProducto" id="date"  accept="image/png, .jpeg, .jpg, image/gif" class=>
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="categoriaProducto"><i class="fa-solid fa-location-dot registerIcon"></i> Categoría</label>
                    <select name="categoriaProducto" placeholder="Categoria A" class="inputTextFieldCreateProducts">
                        <option value="Categoria A">Categoria A</option>
                        <option value="Categoria B">Categoria B</option>
                        <option value="Categoria C">Categoria C</option>
                    </select>
                </fieldset>
                <fieldset class="labelFieldset">
                <label for=""><i class="fa-solid fa-bed"></i> Cantidad de noches de alojamiento</label>
                <input type="number">
                </fieldset>
                <fieldset class="labelFieldset">
                <label for=""> 5 estrellas </label>
                <input type="checkbox" name="estrellasHotel" placeholder="2" class="">
                <label for=""> 4 estrellas </label>
                <input type="checkbox" name="estrellasHotel" placeholder="2" class="">
                <label for=""> 3 estrellas </label>
                <input type="checkbox" name="estrellasHotel" placeholder="2" class="">
                </fieldset>
                <fieldset class="labelFieldset">
                <label for=""> <i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: </label>
                <input class="text_area k2TitleBox" type="text" name="title" id="title" maxlength="250" value="" placeholder="Pittensberg Bay, Johannesburgo, ...">
                </fieldset>
                <fieldset class="labelFieldset">
                    <input type="checkbox"> <label for=""><i class="fa-solid fa-plane-departure"></i> aereos incluidos</label>
                    <input type="checkbox"> <label for=""><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</label>
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="tags"><i class="fa-solid fa-hashtag"></i> Tags</label>
                    <input class="text_area k2TitleBox" type="text" name="title" id="title" maxlength="250" value="" placeholder="#exoticos #paraiso">
                </fieldset>
                <fieldset class="buttonField">
                    <a href="/"><input type="submit" value="Crear Producto" name="crearProducto" class="buttonCreateProduct"></a>
                    <a href="/"><input type="reset" value="Cerrar" name="cerrar" class="buttonClose"></a>
                </fieldset>
                

            </form>
        </section>
    </main>

    <%- include("../includes/footer") %>
        
</body>