<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="./css/details-mobile.css">
    <link rel="stylesheet" href="./css/details-tablet.css">
    <link rel="stylesheet" href="./css/details-desktop.css">
</head>

<body>

    <%- include("../includes/header") %>

    <main class="main-top-details">
        <section class="mainDetails">
            <figure class="mainFigureDetails">
                <img src="./assets/petra-jordania-600x400.jpeg" alt="" class="mainImageDetails">
            </figure>
            <div class="description-product1">
                <h1>PETRA - JORDANIA</h1>
                <h2>09 dias/ 08 noches</h2>
                <h3 class="idProducto">Id Producto: 000117</h3>
                <div class="articleDetails">
                    <span> <ul class="listDetails">
                    <li><i class="fa-solid fa-bed"></i> 8 noches de alojamiento en hoteleria 4 estrellas</li>
                    <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                    <li><i class="fa-solid fa-van-shuttle"></i> Itinerario/excursiones: Amman, Petra, Wadi Rum, Mar muerto</li>
                    <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                    <h3 class="articleTitle">Petra - Jordania (09 dias/ 08 noches)</h3>
                </ul>
                <div class="precioArticuloMain">
                    <p>Desde $1987 USD*</p>
                    <p class="condition">*Precio por persona en base doble</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bottomClassMain">
        <div class="fancyHeader">
        <h2> Itinerario </h2>
        </div>
        <div class="details-header">
           <span> <strong>GUÍAS LOCALES DE HABLA HISPANA
                          <br>
                          SALIDAS TODOS LOS JUEVES
                  </strong>
            </span>
                </div>
                <div class="details-title-description">
                    <span> DIA 01: AMMAN</span>
                </div>
                <div class="details-body-description">
                    <p>Llegada al aeropuerto de Amman. Bienvenidos a Jordania! Tramites fronterizos y traslado al hotel. Tiempo libre. Cena Incluida y Alojamiento.
                    </p>
                </div>
                <div class="details-title-description">
                    <span> DIA 02: AMMAN</span>
                </div>
                <div class="details-body-description">
                    <p>Desayuno. Incluimos un city tour por la Ciudad de Amman. Conoceremos la Mezquita del Rey Abdalá I, inconfundible mezquita de cúpula azul. Luego, visitaremos la Ciudadela, situada en lo alto de una colina desde donde tendremos unas
                        vistas únicas de la ciudad de Amman. A continuación, descenderemos hacia el Anfiteatro Romano, que se remonta a principios del siglo II d.C. Terminaremos nuestro recorrido conociendo su famoso zoco, uno de los lugares más bulliciosos
                        y coloridos de todo Ammán. Continuación hacia la pequeña ciudad de MADABA, agradable ciudad comercial conocida por sus mosaicos de época bizantina, cuenta también con una importante comunidad cristiana muy apegada a sus tradiciones.
                        Almuerzo incluido. Conoceremos la Iglesia de San Jorge, con su fantástico mosaico del siglo VI que representa el mapa más antiguo conocido de Tierra Santa. Salida hacia el sur para conocer MONTE NEBO, lugar donde Moisés se detuvo
                        a contemplar la tierra prometida. Impresionante vista sobre el Valle del Jordán, el Mar Muerto, el Desierto de Judea y Jericó. Según la tradición, Moisés murió y fue sepultado en este lugar. Regreso a Amman. Cena Incluida y Alojamiento.

                    </p>
                </div>
                <div class="details-title-description">
                    <span> DIA 03: AMMAN</span>
                </div>
                <div class="details-body-description">
                    <p>Desayuno. Salida hacia JERASH conocida como la Pompeya del Este por su excelente estado de conservación, todo un conjunto monumental que nos hará retroceder en el tiempo. Conoceremos el Arco de Adriano, el Hipódromo, el Ágora, el Templo
                        de Artemisa, el Teatro Sur así como el Foro con sus esbeltas columnas. Tras finalizar la visita continuamos por carretera hacia el este del país atravesando paisajes áridos. Vamos a visitar los CASTILLOS DEL DESIERTO, construidos
                        entre los siglos VII y VIII bajo los califas de la dinastía omeya, que hizo de Damasco su capital en 661. Pueden haber sido en parte defensivos, en parte graneros y en parte centros comerciales. Visita de QASR AL HALLABAT, uno
                        de los grupos palaciegos más grandes. Posteriormente, llegamos a QASR AL AZRAQ, construido en piedra de basalto negra, lugar de parada de las caravanas que recorrían la ruta comercial entre Bagdad y Jerusalem. A principios del
                        siglo XX fue la base de operaciones de Lawrence de Arabia durante la Revuelta Árabe contra los turcos. En esta zona hay minorías de población drusa. Almuerzo incluido en casa de una familia drusa para conocer sus costumbres, tomar
                        el té y probar una comida tradicional. Seguimos hacia QUSAYR AMRA, Patrimonio de la Humanidad por La Unesco, se levanta en medio de una llanura desértica, destaca por sus notables frescos en las paredes de sus muros. Después conoceremos
                        QASR KHARANA, con su imponente estructura de muros gruesos. Dentro, el patio central proporciona un espacio de calma. Regreso a Amman. Cena Incluída y Alojamiento.
                    </p>
                </div>
                <div class="details-title-description">
                    <span> DIA 04: AMMAN</span>
                </div>
                <div class="details-body-description">
                    <p>Desayuno. Salida hacia UMM QAYS, una de las ciudades grecorromanas más asombrosas con sus calles con columnas, sus anfiteatros, iglesias, templos y el vasto foro romano Este lugar es impresionante debido al contraste de las ruinas
                        romanas con el pueblo abandonado de la era otomana. Hay un punto de vista extraordinario, con puntos de vista de 3 países; Jordania, Siria e Israel y los territorios palestinos. Continuamos hacia AJLUN dominada por su majestuoso
                        castillo, lugar defensivo estratégico del siglo XII de la época de los cruzados. Tras la visita de esta impresionante fortaleza, nos dirigimos dentro de la Reserva Forestal de Ajlun para conocer algunos de los proyectos de desarrollo
                        de las comunidades locales a través de talleres artesanales. Almuerzo incluido. En la Casa del Jabón, las mujeres locales crean jabones de alta calidad hechos a mano con aceite de oliva junto con una variedad de ingredientes locales
                        como la lavanda, el geranio, la menta o la granada. También aprenderemos sobre los seis tipos más famosos de caligrafía árabe en la Casa de la Caligrafía, lugar donde se promueve el diálogo entre culturas y permite al visitante
                        quedar encantado con la belleza de la lengua árabe. De regreso a Amman, breve parada en ANJARA, otro sitio bíblico importante del país. Hay una tradición en este lugar, defendida por cristianos y musulmanes locales, de que Cristo
                        y la Virgen durmieron allí en una gruta volviendo de Jerusalén. En ese lugar, hoy se levanta la Iglesia de Nuestra Señora de la Montaña. Regreso a Amman. Cena Incluída y Alojamiento.
                    </p>
                </div>
                <div class="details-title-description">
                    <span> DIA 05: AMMAN - AS SALT IRAQ AL AMIR - BETANIA - MAR MUERTO</span>
                </div>
                <div class="details-body-description">
                    <p>Desayuno. Salida para conocer la antigua ciudad de AS SALT. Recorreremos sus calles empedradas, entre ellas la calle más famosa y antigua de la ciudad, Al-Hammam Street. Conoceremos la iglesia ortodoxa AL-khader, uno de los santuarios
                        más antiguos y sagrados de Jordania que data de 1682 y fue utilizado tanto por musulmanes como por cristianos. Observaremos la planificación de la antigua ciudad islámica, donde las mezquitas y las iglesias se reunieron en un solo
                        lugar, una al lado de la otra. Continuamos a IRAQ AL AMIR, hogar de numerosas cuevas que datan de la Edad de Bronce. Después de ver las cuevas, visitaremos Qasr al-Abad, un edificio prerromano restaurado que data del siglo II o
                        III a. C. que se cree que fue una villa o un palacio menor. Salida hacia BETANIA, a orillas del Río Jordán, declarado recientemente Patrimonio de la Humanidad por la Unesco, es el lugar donde aseguran los arqueólogos que Juan Bautista
                        bautizó a Jesús. El área cuenta con restos romanos y bizantinos, incluyendo también restos de cinco iglesias paleocristianas y capillas. Al finalizar la visita, salida el MAR MUERTO, el punto más bajo de la Tierra a más de 400
                        metros bajo el nivel del mar. Llegada al hotel, alojamiento y Almuerzo incluido. Vivirá la experiencia de darse un baño y flotar en el agua. La atracción principal de este lugar son sus cálidas y saladas aguas que contienen diez
                        veces más sal que las del resto de los mares del mundo y son ricas en sales minerales que han atraído desde la antigüedad desde el rey Herodes hasta la bella reina egipcia Cleopatra. Cena incluida y alojamiento.
                    </p>
                </div>
                <div class="details-title-description">
                    <span> DIA 06: MAR MUERTO - CUEVA DE LOT - AQABA - WADI RUM</span>
                </div>
                <div class="details-body-description">
                    <p> Emocionante etapa por el interior de Jordania. Nuestra carretera sigue bordeando el Mar Muerto. sur de este Mar nos habla de la destrucción de Sodoma y Gomorra por la ira de Dios. Paramos para ver la CUEVA DE LOT, descubierta en 1991,
                        con su antigua iglesia bizantina del siglo VI. Conoceremos el MUSEO MÁS BAJO DEL MUNDO (Lowest Point Earth Museum) a 432 metros bajo el nivel del mar y que incluye algunos hallazgos encontrados en las excavaciones arqueológicas
                        de la Cueva de Lot. Descendemos hasta AQABA, ciudad costera a orillas del Mar Rojo. Almuerzo incluido. Tras finalizar la visita, salida al DESIERTO DE WADI RUM. En el centro de visitantes subiremos a vehículos todo terreno para
                        conocer algunos de los paisajes más impactantes, como el pueblo de Rum donde conocemos las ruinas del templo Nabateo, o el Cañón Khazali, donde veremos grabados de hace siglos en las rocas. Disfrutar de la puesta de sol en el desierto
                        es algo que no podremos olvidar... Alojamiento en campamento beduino y cena incluida.
                    </p>
                </div>
                <div class="details-title-description">
                    <span> DIA 07: WADI RUM - PETRA</span>
                </div>
                <div class="details-body-description">
                    <p>Desayuno. Siguiendo la ruta de las caravanas, nos adentrarnos por tierras áridas y desérticas hacia la mítica PETRA, una de las joyas arqueológicas más famosas de Oriente Próximo. Olvidada durante siglos, conocida sólo por los beduinos
                        que la convirtieron en su hogar hasta inicios del siglo XIX, conserva gran parte de su misterio gracias a la dificultad de su acceso. Atravesaremos el desfiladero del Siq, formado por angostas paredes de arenisca de diferentes
                        tonalidades, hasta llegar al monumento más impresionante conocido como el Tesoro o Al-Khaznah. Continuaremos abriéndonos camino por el Teatro, la calle de las Columnas o las Tumbas Reales. Almuerzo incluido. Tras finalizar la visita,
                        conoceremos el nuevo gran Museo Arqueológico de Petra, donde se encuentra una excelente muestra que nos permite entender la historia de los Nabateos y conocer magnificas piezas encontradas en la zona. Cena incluida y alojamiento.
                    </p>
                </div>
                <div class="details-title-description">
                    <span> DIA 08: PETRA - SHOBAK - DANA - KARAK - UM AR RASSAS - AMMAN</span>
                </div>
                <div class="details-body-description">
                    <p>Desayuno. Salida hacia el norte del país por la histórica Carretera del Rey, la más famosa de Jordania, ya que fue una de las rutas comerciales de caravanas más importantes. Breve parada en SHOBAK, donde podremos fotografiar (exterior
                        solamente) el gran castillo de los cruzados. Más tarde, llegada a DANA, pequeño pueblo pintoresco de casas de piedra sobre un inmenso acantilado. Continuación hacia nuestra siguiente parada, el CASTILLO DE KARAK, impresionante
                        ejemplo de arquitectura militar de la época de los cruzados de mediados del siglo XII. Almuerzo incluido. Tras el almuerzo, continuamos hacia Um ar Rassas, pero antes haremos una parada en un mirador espectacular para contemplar
                        la presa de Al -Mujib, importante reserva de agua en un país mayoritariamente desértico. Desde la localidad de Dhiban tomamos el desvío hacia UM AR RASSAS. Llegada a este recinto arqueológico Patrimonio de la Humanidad por la Unesco.
                        Aquí se encuentra las ruinas de dos iglesias bizantinas del s. VI y los magníficos mosaicos que cubren todo el suelo y que se encuentran en un gran estado de conservación. Para poder verlos han colocado una gran plataforma que
                        nos va a permitir caminar sobre ellos y disfrutarlos desde una situación inmejorable. Posteriormente, salida hacia Amman. Llegada y alojamiento. Nos despediremos de Jordania saliendo a un Restaurante típico para tomar una Cena
                        tradicional de despedida. Será nuestra última experiencia con la rica gastronomía jordana.
                    </p>
                </div>
                <div class="details-title-description">
                    <span> DIA 09: AMMAN</span>
                </div>
                <div class="details-body-description">
                    <p>A la hora indicada, traslado al aeropuerto y fin de nuestros servicios. ¡Esperamos que haya disfrutado de su viaje!
                    </p>
                </div>
        </section>
        <section class="section-book">
            <nav class="nav-to-book">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i>Hacé tu reserva</a>
            </nav>
        </section>

    </main>


    <%- include("../includes/footer") %>
    
</body>

</html>