<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="./css/register-mobile.css">
    <link rel="stylesheet" href="./css/register-tablet.css">
</head>

<body>
    <%- include("../includes/header") %>


    <main>
        <section class="imageRegister">
            <form action="/" method="post" class="formAreaRegister">
                <fieldset class="labelFieldset">
                    <label for="nombre"><i class="fa-solid fa-id-card registerIcon"></i> Nombre completo</label>
                    <input type="text" name="nombre" placeholder="Ingresa tu nombre" class="inputTextFieldRegister" required>
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="usuario"><i class="fa-solid fa-user registerIcon"></i> Usuario</label>
                    <input type="text" name="usuario" placeholder="Ingrese nombre de usuario" class="inputTextFieldRegister" required>
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="nacimiento"><i class="fa-solid fa-calendar-days registerIcon"></i> Fecha de nacimiento</label>
                    <input type="date" name="nacimiento" id="date" placeholder="Fecha de nacimiento" class="inputTextFieldRegister">
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="codPostal"><i class="fa-solid fa-envelope foot-icon registerIcon"></i> Código postal</label>
                    <input type="number" name="codPostal" placeholder="1900" class="inputTextFieldRegister">
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="direccion"><i class="fa-solid fa-location-dot registerIcon"></i> Dirección</label>
                    <input type="text" name="direccion" placeholder="Calle 7 n° 1307" class="inputTextFieldRegister">
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="email"><i class="fa-solid fa-envelope-open-text registerIcon"></i> E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu email" class="inputTextFieldRegister">
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="password"><i class="fa-solid fa-lock registerIcon"></i> Crear contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Ingresa una contraseña" class="inputTextFieldRegister" required>
                </fieldset>
                <fieldset class="labelFieldset">
                    <label for="password"></label>
                    <input type="password" name="password" id="passwordCheked" placeholder="Confirmar contraseña" class="inputTextFieldRegister registration" required>
                </fieldset>
                <fieldset class="bottomCheck">
                    <label for="condiciones">Acepto los terminos y condiciones</label>
                    <input type="checkbox" required>
                </fieldset>
                <fieldset class="bottomCheck">
                    <label for="mailing">Quiero recibir novedades y ofertas por correo</label>
                    <input type="checkbox">
                </fieldset>
                <fieldset class="buttonField">
                    <a href="/"><input type="submit" value="Enviar" name="enviar" class="sendButton"></a>
                    <a href="/"><input type="reset" value="Borrar" name="borrar" class="sendButton"></a>
                </fieldset>

            </form>
        </section>
    </main>

    <%- include("../includes/footer") %>

</body>

</html>