<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head") %>

<body>
    <%- include("./includes/header") %>

    <main class="mainClass">
        <section class="topClassMain">
            <div class="mainImage">
                <p class="header"></p>
            </div>
        </section>
        <h2 class="headerExperiencias"> ¡Elegi tu proxima experiencia Harbor Trip! </h2>
        <section class="sectionSearch">
            <form action="/">
                <fieldset class="mainSelectorContainer">
                    <select> 
                        <option value="none" class="none">Destino</option>
                        <option value="product1">Africa </option>
                        <option value="product2">Oceania </option>
                        <option value="product3">Sudeste Asiatico</option>
                        <option value="product3">Asia Oriental</option>
                        <option value="product3">Europa</option>
                    </select>
                </fieldset>
                <fieldset class="mainSelectorContainer">
                    <select>
                        <option value="none" class="none">Categoria</option>
                        <option value="product1">Categoria A</option>
                        <option value="product2">Categoria B</option>
                        <option value="product3">Categoria C</option>
                    </select>
                </fieldset>
                <fieldset class="mainSelectorContainer">
                    <select> 
                        <option value="none" class="none">Cant de noches</option>
                        <option value="product1">8 noches </option>
                        <option value="product2">10 noches </option>
                        <option value="product3">12 noches </option>
                    </select>
                </fieldset>
                <button type="submit" class="btn">Buscar</button>
            </form>
        </section>
        <section class="middleClassMain">
            <div class="">
                <a class="tituloExperiencias"> Africa e islas del Indico </a>
                <article class="articleExperiencias">
                    <a>
                        <img src="./assets/maldives-400x300.jpg" alt="">
                    </a>
                </article>
            </div>
            <div class="">
                <a class="tituloExperiencias"> Arabia y medio oriente </a>
                <article class="articleExperiencias">
                    <a>
                        <img src="./assets/dubai-400x300.jpeg" alt="">
                    </a>
                </article>
            </div>
            <div class="">
                <a class="tituloExperiencias"> Islas del Pacifico Sur </a>
                <article class="articleExperiencias">
                    <a>
                        <img src="./assets/EasterIsland_Moai_small-400x300.jpg" alt="">
                    </a>
                </article>
            </div>
            <div class="">
                <a class="tituloExperiencias"> Sudeste Asiatico </a>
                <article class="articleExperiencias">
                    <a>
                        <img src="./assets/Sudeste-Asiatico-400x300.jpg" alt="">
                    </a>
                </article>
            </div>
            <div class="">
                <a class="tituloExperiencias"> Asia oriental </a>
                <article class="articleExperiencias">
                    <a>
                        <img src="./assets/japan-400x300.jpg" alt="">
                    </a>
                </article>
            </div>

        </section>

        <section class="bottomClassMain">
            <div class="fancyHeader">
                <h2> Paquetes Destacados </h2>
            </div>
            <section class="firstSection">
                <div class="articleBox">
                    <article class="articleMainContainer">
                        <figure class="articleFigure">
                            <img src="./assets/great-wall-china-600x400.jpeg" alt="">
                        </figure>
                        <div class="articleDetails">
                            <ul>
                                <li><i class="fa-solid fa-bed"></i> 12 noches de alojamiento en hoteleria 4 estrellas</li>
                                <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                                <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: Beijin, Xian, Guilin, Shanghai </li>
                                <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                            </ul>
                            <h3 class="articleTitle"> Maravillas de China - Etnias (13 dias/ 12 noches)</h3>
                            <div class="precioArticuloMain">
                                <p>Desde $3339 USD*</p>
                            </div>
                            <p>*Precio por persona en base doble</p>
                            <a href="/details">+Mas info <i class="fa-solid fa-arrow-right masInfo"></i></a>
                        </div>
                    </article>
                </div>
                <div class="articleBox">
                    <article class="articleMainContainer">
                        <figure class="articleFigure">
                            <img src="./assets/petra-jordania-600x400.jpeg" alt="">
                        </figure>
                        <div class="articleDetails">
                            <ul>
                                <li><i class="fa-solid fa-bed"></i> 8 noches de alojamiento en hoteleria 4 estrellas</li>
                                <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                                <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: Amman, Petra, Wadi Rum, Mar muerto</li>
                                <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                            </ul>
                            <h3 class="articleTitle">Petra - Jordania (09 dias/ 08 noches)</h3>
                            <div class="precioArticuloMain">
                                <p>Desde $1987 USD*</p>
                            </div>
                            <p>*Precio por persona en base doble</p>
                            <a href="/details">+Mas info <i class="fa-solid fa-arrow-right masInfo"></i></a>
                        </div>
                    </article>
                </div>
                <div class="articleBox">
                    <article class="articleMainContainer">
                        <figure class="articleFigure">
                            <img src="./assets/zanzibar-600x400.jpeg" alt="">
                        </figure>
                        <div class="articleDetails">
                            <ul>
                                <li><i class="fa-solid fa-bed"></i> 7 noches de alojamiento en hoteleria estrellas All Inc. </li>
                                <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                                <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: Nairobi, Masaai Mara, Zanzibar </li>
                                <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                            </ul>
                            <h3 class="articleTitle"> Zanzibar - Africa (08 dias/ 07 noches)</h3>
                            <div class="precioArticuloMain">
                                <p>Desde $2765 USD*</p>
                            </div>
                            <p>*Precio por persona en base doble</p>
                            <a href="/details">+Mas info <i class="fa-solid fa-arrow-right masInfo"></i></a>
                        </div>
                    </article>
                </div>
                <div class="articleBox">
                    <article class="articleMainContainer">
                        <figure class="articleFigure">
                            <img src="./assets/giraffe-manor-600x400.jpeg" alt="">
                        </figure>
                        <div class="articleDetails">
                            <ul>
                                <li><i class="fa-solid fa-bed"></i> 7 noches de alojamiento en hoteleria 4 estrellas</li>
                                <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                                <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: Plettenberg Bay, Johannesburgo, Giraffe Manor</li>
                                <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                            </ul>
                            <h3 class="articleTitle">Giraffe Manor - Kenya (08 dias/ 07 noches)</h3>
                            <div class="precioArticuloMain">
                                <p>Desde $3980 USD*</p>
                            </div>
                            <p>*Precio por persona en base doble</p>
                            <a href="/details">+Mas info <i class="fa-solid fa-arrow-right masInfo"></i></a>
                        </div>
                    </article>
                </div>

            </section>
            <div class="fancyHeader">
                <h2> Paquetes mas Vendidos </h2>
            </div>
            <section class="lastSection">
                <div class="articleBox">
                    <article class="articleMainContainer">
                        <figure class="articleFigure">
                            <img src="./assets/taj-mahal-600x400.jpg" alt="">
                        </figure>
                        <div class="articleDetails">
                            <ul>
                                <li><i class="fa-solid fa-bed"></i> 11 noches de alojamiento en hoteleria 4 estrellas</li>
                                <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                                <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: Taj Mahal, Delhi, Jaipur, Agra </li>
                                <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                            </ul>
                            <h3 class="articleTitle">India - Golden Triangle (12 dias/ 11 noches)</h3>
                            <div class="precioArticuloMain">
                                <p>Desde $2870 USD*</p>
                            </div>
                            <p>*Precio por persona en base doble</p>
                            <a href="/details">+Mas info <i class="fa-solid fa-arrow-right masInfo"></i></a>
                        </div>
                    </article>
                </div>
                <div class="articleBox">
                    <article class="articleMainContainer">
                        <figure class="articleFigure">
                            <img src="./assets/lion-kenia-600x400.jpg" alt="">
                        </figure>
                        <div class="articleDetails">
                            <ul>
                                <li><i class="fa-solid fa-bed"></i> 10 noches de alojamiento en hoteleria 4 estrellas</li>
                                <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                                <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones:Parque Kruger, Ciudad del Cabo, Suncity, Oudtshoorn </li>
                                <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                            </ul>
                            <h3 class="articleTitle"> Kenia - Safari clasico en Kruger (12 dias/ 10 noches)</h3>
                            <div class="precioArticuloMain">
                                <p>Desde $2800 USD*</p>
                            </div>
                            <p>*Precio por persona en base doble</p>
                            <a href="/details">+Mas info <i class="fa-solid fa-arrow-right masInfo"></i></a>
                        </div>
                    </article>
                </div>
                <div class="articleBox">
                    <article class="articleMainContainer">
                        <figure class="articleFigure">
                            <img src="./assets/giraffe-africa-600x400.jpg" alt="">
                        </figure>
                        <div class="articleDetails">
                            <ul>
                                <li><i class="fa-solid fa-bed"></i> 9 noches de alojamiento en hoteleria 4 estrellas</li>
                                <li><i class="fa-solid fa-bus"></i> traslados in/out y entre hoteles</li>
                                <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: Ciudad del Cabo, parque Kruguer, Johannesburgo </li>
                                <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                            </ul>
                            <h3 class="articleTitle"> Kenia - Savannah + costa Sudafricana (10 dias/ 09 noches)</h3>
                            <div class="precioArticuloMain">
                                <p>Desde $3570 USD*</p>
                            </div>
                            <p>*Precio por persona en base doble</p>
                            <a href="/details">+Mas info <i class="fa-solid fa-arrow-right masInfo"></i></a>
                        </div>
                    </article>
                </div>
                <div class="articleBox">
                    <article class="articleMainContainer">
                        <figure class="articleFigure">
                            <img src="./assets/egypt-600x400.jpg" alt="">
                        </figure>
                        <div class="articleDetails">
                            <ul>
                                <li><i class="fa-solid fa-bed"></i> 09 noches de alojamiento en hoteleria 4-5 estrellas</li>
                                <li><i class="fa-solid fa-bus"></i> traslados in/out y entre destinos</li>
                                <li><i class="fa-solid fa-van-shuttle"></i> Itinenrario/excursiones: El Cairo, Crucero por el Nilo, Piramide de Ghiza</li>
                                <li><i class="fa-solid fa-plane-departure"></i> aereos incluidos</li>
                            </ul>
                            <h3 class="articleTitle"> Egipto Clasico - Ghiza (10 dias/ 09 noches)</h3>
                            <div class="precioArticuloMain">
                                <p>Desde $2650 USD*</p>
                            </div>
                            <p>*Precio por persona en base doble</p>
                            <a href="/details">+Mas info <i class="fa-solid fa-arrow-right masInfo"></i></a>
                        </div>
                    </article>
                </div>
            </section>
        </section>
    </main>

    <%- include("./includes/footer") %>
</body>

</html>