
    <footer class="footer">
        <section class="footerMain">
            <figure>
                <img src="./assets/PERFIL-04.jpeg" alt="perfil" class="footerPerfil">
            </figure>
            <h2>Dirección</h2>
            <address>
                    <i class="fa-solid fa-location-dot foot-icon"></i> Calle XX numero XXXX La Plata
            </address>
        </section>

        <section class="footerNav">
            <section class="navItems">

                <h2 class="navTitle">Web</h2>
                <div class="navList">
                    <a class="footerA" href=""><i class="fa-solid fa-house foot-icon"></i>Home</a>
                    <a class="footerA" href=""><i class="fa-regular fa-compass foot-icon"></i>Exoticos</a>
                    <a class="footerA" href=""> <i class="fa-solid fa-tags foot-icon"></i>Promociones</a>
                    <a class="footerA" href=""> <i class="fa-solid fa-fire foot-icon"></i>Mas Vendidos</a>
                </div>
            </section>
            <section class="navItems">
                <h2 class="navTitle">Links Utiles</h2>
                <div class="navList">
                    <a class="footerA" href=""><i class="fa-solid fa-list foot-icon"></i> Requisitos de Viaje</a>
                    <a class="footerA" href=""><i class="fa-solid fa-people-roof foot-icon"></i> Administracion</a>
                    <a class="footerA" href=""><i class="fa-regular fa-address-book foot-icon"></i> Contacto</a>
                    <a class="footerA" href=""><i class="fa-solid fa-handshake-simple foot-icon"></i>Quienes Somos</a>
                </div>
            </section>

            <section class="navItems">
                <h2 class="navTitle">Vias de contacto</h2>
                <div class="navList">
                    <a class="footerA" href=""><i class="fa-solid fa-phone foot-icon"></i>Telefono de contacto</a>
                    <a class="footerA" href=""><i class="fa-solid fa-clock foot-icon"></i> Lunes a Viernes de 10:00 a 19:00. Sabados hasta medio dia</a>
                    <a class="footerA" href=""><i class="fa-solid fa-envelope foot-icon"></i> email ventas: reservas@harbortrip.com </a>
                </div>
            </section>
        </section>
        <div class="legal">
            <p>&copy; 2022 Harbor Trip. All rights reserved.</p>
        </div>
    </footer>